/* --------------------------------------
   公設
   -------------------------------------- */
body{
width:100%;
height:100%;
margin:0;
padding:0;

}

.container-fluid{
padding: 0px;
}

/*.container{
  margin:0;
  padding:0;
  width:100%;
  border-width: 1px;
  border-color: #000000;
  position: relative;
}*/

li{
  list-style: none;
}

.line{
border-left: solid;
border-left-width: 2px;
padding-left: 5px;
padding-right: 5px;
}


.k:hover{
  text-decoration: none;
color: #fff000;
}

.row{

  margin: 0px;
}

.row h3{
  text-align: center;
  font-family: "華康行書體";
  font-size: 30px;
}
.row p{
  text-align: justify;
  font-family: "微軟正黑體";
  font-size: 20px;
}

.button a{
  float: right;
  margin-bottom: 10px;
  padding: 7px;
  padding-left: 14px;
  padding-right: 14px;
  border-radius: 3px;
  font-size: 14px;
  color: #000000;
  border: solid 2px #000000;
  text-decoration: none;
}

.button :hover{
  color: #7f7f7f;
  border: solid 2px #7f7f7f;
  text-decoration: none;
}
/* --------------------------------------
   row-1
   -------------------------------------- */
.row-1{
  width: 100%;
margin-top: 80px;

}

.row-1 img{
margin-bottom: 20px;
  margin-left:80px;
}

.swe{
background-color: #efefef;
}


/* --------------------------------------
   row1
   -------------------------------------- */
.row1{
  margin: auto;
background-color: #7f7f7f;
text-align: center;
width:100%;
padding-top: 12px;
padding-bottom: 2px;

}

.row1 a{
  font-family: "華康行書體";
  color: #ffffff;
  font-size: 26px;
  text-decoration: none;
}
/* --------------------------------------
   row2
   -------------------------------------- */
.row2{
  margin-top: 50px;
  width: 100%;
  margin-bottom: 50px;
  background-color: #e7e7e7;

}

.row2 img{
margin-left: 170px;
width: 260px;
  height: 200px;
}

.pall{

  margin-top: 60px;
}

.morebg{


  background-color: #7f7f7f
}

.morebg p{
  margin-top: 150px;
  color: #ffffff;
}

/* --------------------------------------
   row3
   -------------------------------------- */

   .row3{
     width: 100%;
     margin-bottom: 50px;
    background-color: #fafafa;
   }
   .row3 p{
     text-align: center;
     font-family: "微軟正黑體";
     line-height: 60px;
   }

/* --------------------------------------
      row4
   -------------------------------------- */
   .row4{
     width: 100%;
     margin-bottom: 50px;
   }
   .row4 h3{

     margin-top: 130px;
   }
  .row4 .cimg img{

  width: 100%;
margin-left: 50px;
margin-top: 60px;
  }
  .row4 .bimg img{

  width: 100%;

  }


/* --------------------------------------
         row5
   -------------------------------------- */
.row5{
    width: 100%;
    margin-bottom: 50px;
    background-color: #e4e2e3;
  }
.row5 p{

  line-height: 80px;
}

/* --------------------------------------
   row6
   -------------------------------------- */

.row6{
  background-color: #7f7f7f;
padding-bottom: 10px;
padding-top: 20px;
margin-top: 30px;
width: 100%;

}

.row6 img{
background-color: #7f7f7f;
margin-left: 260px;
  width: 120px;
  height: 120px;

}

.fp{

}

.fl p{
    color: #ffffff;
}


/* --------------------------------------
  RWD
   -------------------------------------- */


   /* Extra small devices (phones, less than 768px) */
   /* No media query since this is the default in Bootstrap */
